<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="author" content="Corentin Mercier">
  <meta name="description" content="">

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">

  <title>Bitcoin Cash tipping bot</title>
</head>

<body class="bg-gray-800 text-white max-w-7xl mx-auto">

  {% block body %}{% endblock %}

  <footer class="mt-10"></footer>

  {% include "menu.njk" %}

  <!-- JavaScript -->
  <script src="/static/js/scripts.js"></script>

</body>
</html>
