<div class="hidden absolute top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden" id="menu">
  <div class="shadow rounded-lg shadow-md bg-gray-900 text-white ring-1 ring-black ring-opacity-5 overflow-hidden">
    <div class="px-5 pt-4 flex items-center justify-between">
      <div>
        <img class="h-8 w-auto sm:h-10" src="/static/img/tippie.png" alt="Tippie">
      </div>
      <div class="-mr-2">
        <button type="button" class="text-white bg-gray-700 hover:bg-gray-500 focus:outline-none rounded-md p-2 inline-flex items-center justify-center focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" id="closeMenu">
          <span class="sr-only">Close main menu</span>
          <!-- Heroicon name: x -->
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>

    <div role="menu" aria-orientation="vertical" aria-labelledby="main-menu">
      <div class="px-2 pt-2 pb-3 space-y-1" role="none">
        <a href="#" class="block px-3 py-2 rounded-md text-base font-medium hover:text-gray-900 hover:bg-gray-50" role="menuitem">Docs {% include "icons/link.svg" %}</a>

        <a href="#" class="block px-3 py-2 rounded-md text-base font-medium hover:text-gray-900 hover:bg-gray-50" role="menuitem">GitHub {% include "icons/link.svg" %}</a>
      </div>
    </div>
  </div>
</div>
